.cta {
  position: relative;
  border: none;
  border-radius: 3px;
  color: white;
  background: $c-blue-bright;
  font-size: 1rem;
  font-family: $ff-secondary;
  box-shadow: 1px 1px 1px transparentize($c-blue-bright, 0.4);
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

  @include breakpoint("md") {
    &::before {
      position: absolute;
      content: "";
      top: 35px;
      left: -50%;
      width: 150%;
      height: 200px;
      border-radius: 50%;
      background: lighten($c-blue-bright, 10);
      transform: translate(17%);
      transition: transform 250ms ease-in, opacity 250ms ease-in;
      opacity: 0;
      z-index: -1;
    }

    &:hover::before {
      transform: translate(17%, -50%);
      opacity: 1;
    }
  }

  &--md {
    height: 40px;
    font-size: 0.9rem;
    font-weight: 700;

    @include breakpoint("lg") {
      height: 45px;
      max-width: 199px;
      width: 100%;
    }
  }

  &--big {
    height: 35px;
    width: 100%;
    font-size: 0.67rem;
    font-weight: 700;

    @include breakpoint("md") {
      height: 40px;
      max-width: 200px;
      width: 100%;
    }

    @include breakpoint("lg") {
      height: 49px;
      font-size: 0.9rem;
    }
  }
}
